@charset "utf-8";
/* CSS Document */

body { 
	font: 75% "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	line-height: 1.88889;
	color: #555753; 
	margin: 0 50px 0 0; 
	padding: 0;
	}

p 	{ 
	margin-top: 0; 
	text-align: justify;
	}


.style2 
	{
	color: #FFFFFF;
	font-weight: bold;
	font-size: 100%;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	}	

.waterline-navigation
	{
	background-image:url(img/left-navigation-ie6.gif);
	height:320px;
	margin:20px 0 0 0;
	padding:0px 0 0 29px;
	width:345px;
	}

#waterline-home
	{
  	display: block;
  	color:#FFFFFF;
  	font-size:smaller;
  	width:199px;
  	height:5px;
  	text-decoration:none;
  	font-weight:bold;
  	letter-spacing:1px;
  	}

#waterline-home:hover
	{ 
  	text-decoration: none;
   	background: #000000 url(img/on-rollover-waterline-key.jpg) repeat-x;
   	letter-spacing:0px;
	}

#main-container
	{
	float:right;
	width:600px;
	margin: -5px 0 0 0;
	background-color: #F7F7F7 ;
	border: 1px dotted #B6B6B6;
	padding:0px;
	}

#p-pad
	{
	padding:10px;
	}


.style1 
	{
	color: #00000e;
	font-weight: bold;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 35px;
	letter-spacing:-3px;
	}

#big-container
	{
	 width: 982px;
	 margin: 0 10px 10px 0px;
	 
	}
	
	.home-link
	{
	 padding-top:38px
	}
	
.about-link
	{
	 padding-top:35px
	}

.pictures-link
	{
	 padding-top:69px
	}
	
.contact-link
	{
	 padding-top:37px
	}
	
